.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
*.db
*.asc
*.tif
*.prj
*.csv
*asc.aux.xml
*.tif.aux.xml
#01_EFForTS-ABM/output/*.asc
#01_EfforTS-ABM/output/*.prj
#01_EFForTS-ABM/ncinv/habitatquality/output/*.*
#01_EFForTS-ABM/ncinv/habitatquality/output/**/*.*
#01_EFForTS-ABM/tests_integration/01_unittest/noimpact/output/*.*
#01_EFForTS-ABM/tests_integration/01_unittest/localimpact/output/*.*
#01_EFForTS-ABM/tests_integration/01_unittest/globalimpact/output/*.*
#01_EFForTS-ABM/tests_integration/01_unittest/noimpact/output/intermediate/*.*
#01_EFForTS-ABM/tests_integration/01_unittest/localimpact/output/intermediate/*.*
#01_EFForTS-ABM/tests_integration/01_unittest/globalimpact/output/intermediate/*.*
